nav
{
	font-variant : small-caps;
	/*float : left;*/
}/*ex 2 menu vertical
.page
{
	margin-left : 250px;
}*/
body
{
	background : aquamarine;
}
h1, h2
{
	color : red;
}
header, footer
{
	text-align : center;
}

/* ex 3 : disposition horizontale du menu */
ul
{
	display : block;
	height : 20px;
}
li
{
	float : left;
	display : block;
	width : 250px;
}